<ul>
    <li id="Home" class="navbar_el" > <a [routerLink]="[ '/main' ]" routerLinkActive="active">Home</a></li>
    <li class="navbar_el"> Personal page </li>
    <li class="navbar_el right" > <a [routerLink]="[ '/identity/registration' ]" routerLinkActive="active"> Registration</a> </li>
    <li class="navbar_el right"> <a [routerLink]="[ '/identity/login' ]" routerLinkActive="active"> Login </a>  </li>
    <li class="navbar_el"> Test </li>
    <li class="navbar_el"> <a [routerLink]="[ '/tasks' ]">Tasks</a> </li>

    
</ul>
